<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title>Giris Yap</title>
</head>
<body>
    <h1>Giris Yap</h1>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <form method="post">
        <label for="username">Kullanıcı Adı:</label><br>
        <input type="text" id="username" name="username" required><br><br>

        <label for="password">Şifre:</label><br>
        <input type="password" id="password" name="password" required><br><br>
        
        <button type="submit">Giriş Yap</button>
    </form>
    <p>Hesabın yok mu? <a href="{{ url_for('register') }}">Kayıt Ol</a></p>    
</body>
</html>