<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title>Kayıt Ol</title>
</head>
<body>
    <h1>Kayıt Ol</h1>
    
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <form method="post">
        <label for="username">Kullanıcı Adı:</label><br>
        <input type="text" id="username" name="username" required><br><br>

        <label for="password">Sifre:</label><br>
        <input type="password" id="password" name="password" required><br><br>

        <button type="submit">Kayıt Ol</button>
    </form>
    <p>Zaten bir hesabın var mı? <a href="{{ url_for('login') }}">Giris Yap</a></p>
</body>
</html>
