{% extends "base.html" %}

{% block title %}Kitabı Düzenle{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">"{{ book.title }}" Adlı Kitabı Düzenle</h3>
            </div>
            <div class="card-body">
                <form method="post">
                    <div class="mb-3">
                        <label for="title" class="form-label">Yeni Kitap Adı</label>
                        <input type="text" class="form-control" id="title" name="title" value="{{ book.title }}" required>
                    </div>
                    <div class="mb-3">
                        <label for="author" class="form-label">Yeni Yazar Adı</label>
                        <input type="text" class="form-control" id="author" name="author" value="{{ book.author }}" required>
                    </div>
                    <a href="{{ url_for('home') }}" class="btn btn-secondary">İptal</a>
                    <button type="submit" class="btn btn-primary">Güncelle</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
